<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app
  PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
  "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  <servlet>
    <servlet-name>model</servlet-name>
    <servlet-class>qotd.Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>model</servlet-name>
    <url-pattern>/model/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>randomQuote</servlet-name>
    <servlet-class>qotd.Random</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>randomQuote</servlet-name>
    <url-pattern>/random</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>listAll</servlet-name>
    <servlet-class>qotd.List</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listAll</servlet-name>
    <url-pattern>/list/all</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addForm</servlet-name>
    <servlet-class>qotd.AddForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addForm</servlet-name>
    <url-pattern>/add/form</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addQuote</servlet-name>
    <servlet-class>qotd.AddQuote</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addQuote</servlet-name>
    <url-pattern>/add/quote</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>editQuote</servlet-name>
    <servlet-class>qotd.EditQuote</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editQuote</servlet-name>
    <url-pattern>/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateQuote</servlet-name>
    <servlet-class>qotd.UpdateQuote</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateQuote</servlet-name>
    <url-pattern>/update/quote</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteQuote</servlet-name>
    <servlet-class>qotd.DeleteQuote</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteQuote</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>save</servlet-name>
    <servlet-class>qotd.Save</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>save</servlet-name>
    <url-pattern>/save</url-pattern>
  </servlet-mapping>
</web-app>
